@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

#appView {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/*
    bootstrap overrides.
    - I don't want any default padding.
*/
.container-fluid {
    padding: 0px;
    margin: 0px;
}
.row {
    padding: 0px;
    margin: 0px;
}
.col-xs-* {
    padding: 0px;
    margin: 0px;
}
.col-md-* {
    padding: 0px;
    margin: 0px;
}
.col-lg-* {
    padding: 0px;
    margin: 0px;
}
/*
    mdl overrides
*/

/* mdl-card's have a default min-height of 200px.*/
.mdl-card {
    min-height: 0px;
}

.mdl-layout__header-row {
    align-items: center;
}

.spacer {
    flex: 1;
}

/*
    flexbox templates
*/
.flexbox-row-spacearnd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

/*
    rows
*/

#firstRow > * {
    margin: 10px;
}

#secondRow > * {
    margin: 10px;
    width: 100%;
}

/*
    profile-photo-card
*/

.profile-photo-card.mdl-card {
    height: 256px;
    background: url('../img/profile_pic.jpg') center / cover;
    flex-basis: 50%;
}
.profile-photo-card > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.profile-photo-card__filename {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}


/*
    about-me
*/

#aboutMe {
    flex-basis: 100%;
}

#moreAboutMe > * {
    width: 100%;
}
#moreAboutMe p {
    width: 100%;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialIcons > * {
    margin: 10px;
}